body {
    background: #b1cff2;
    font-family: 'Segoe UI';
}

input {
    background: #ffffff;
    border-radius: 2em;
    border: none;
    margin: 2em;
    padding: 0.8em;
    font-family:'Arial';
    
    color: #000000;
    font-size: 1em;
    padding-left: 0.7em;
    
    outline: none;
    box-shadow: 0 2.5px 4.5px -3.5px hsl(0, 0%, 40%), inset 1px 2.5px 6px -3.5px hsl(0, 0%, 4%)
    
}